[y-page='home'] {
	> .aside {
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;

		> * {
			margin-top: 0;
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@media (min-width: 600px) {
			float: right;
			max-width: 270px;
			border: 1px solid #76568f;
			border-radius: 1rem;
			padding: 1rem;
		}
	}

	li {
		margin-bottom: 1em;
	}
}
